.messagesWrapper
  display: flex
  flex-direction: column
  align-items: flex-end

.buttonsWrapper
  display: flex
  gap: 10px
  cursor: pointer

.messageWrapper
  width: fit-content
  border: 1px solid rgb(222, 219, 219)
  padding: 10px
  margin-bottom: 15px
  border-radius: 3px
  display: flex
  gap: 10px

.authorMessageWrapper
  display: flex
  gap: 10px

.saveMessageButton
  border: none
  cursor: pointer
  background-color: white

.editMessageForm
  display: flex
  justify-content: space-between

.editMessageInput
  width: 100%
  padding: 3px 5px
  box-sizing: border-box
  border: 1px solid #e8e7e7
  border-radius: 4px
  background-color: #f8f8f8
  font-size: 14px
  resize: none
  margin-bottom: 20px