.messages
  display: flex

.messages__column_user
  width: 30%

.messages__column_messages
  width: 70%

.messages__header
  font-weight: 600
  font-size: 16px
  margin-bottom: 20px

.messages__user_wrapper
  display: flex
  gap: 5px
  margin-bottom: 10px
  align-items: center

.messages__user
  font-size: 14px
  cursor: pointer
  color: rgb(28, 28, 28)

.messages__user.active
  color: rgb(207, 26, 35)

.messages__user_img
  border-radius: 50%
  margin-right: 10px

.addMessageWrapper
  display: flex
  flex-direction: column
  align-items: end
  gap: 10px
  margin-bottom: 30px

.messageWrapper
  border: 1px solid rgb(222, 219, 219)
  padding: 10px
  margin-bottom: 15px
  display: flex
  justify-content: space-between

.addPost__textarea
  width: 400px
  padding: 12px 20px
  box-sizing: border-box
  border: 1px solid #e8e7e7
  border-radius: 4px
  background-color: #f8f8f8
  font-size: 14px
  resize: none
  margin-bottom: 10px

.addPost__textarea::placeholder
  font-family: 'Lato', sans-serif