.posts__buttons
  display: flex
  justify-content: space-between
  margin-bottom: 30px

.posts__header 
  text-align: center
  font-size: 32px
  font-weight: 600
  color: rgb(39, 38, 38)
  margin-bottom: 20px
  margin-top: 40px

.post
  display: flex
  gap: 20px
  margin-bottom: 40px
  border: 1px solid rgb(222, 219, 219)
  padding: 20px
  border-radius: 4px


.post__content



.post__header
  margin-bottom: 10px
  font-size: 24px
  font-weight: 500


.post__desc
  margin-bottom: 20px

.post__buttons
  display: flex
  justify-content: flex-end
  gap: 20px
  align-items: center

.post__button
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  background-color: rgba(200, 52, 59, 0.756)
  border: 1px solid rgba(200, 52, 59, 0.756)
  border-radius: 4px
  padding: 5px 25px
  cursor: pointer
  font-weight: 600

.post__button:hover
  background-color: rgb(207, 26, 35)
  border: 1px solid rgb(207, 26, 35)

.addPost
  margin-bottom: 30px
  border: none

.addPost__textarea::placeholder
  font-family: 'Lato', sans-serif
