.loginWrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%

.loginForm
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 10px
  width: 100%

.loginInputGroup
  display: flex
  flex-direction: column
  gap: 10px
  width: 60%

.loginInputGroupRememberMe
  display: flex
  flex-direction: row-reverse
  gap: 20px

.loginInput
  height: 30px
  width: 400px
  border: 1px solid lightgrey
  border-radius: 5px
  padding: 0 10px

.loginInputLabel
  margin-left: 20px