.author 
  width: 15%
  display: flex
  flex-direction: column
  align-items: flex-start


.author__logo 
  width: 60px
  height: 60px
  border-radius: 50%


.author__name 
  font-size: 12px
  margin-top: 10px
  display: flex
  justify-content: flex-start

.author__date 
  font-size: 8px
  margin-top: 2px


.author__name,
.author__date 
  color: rgb(104, 104, 104)
  line-height: 12px
  text-align: center
